## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Port Elizabeth,ZA,2021-09-24 20:05:07,-33.9180,25.5701,54.10,88,40,1.45,scattered clouds
1,1,Busselton,AU,2021-09-24 20:05:07,-33.6500,115.3333,47.05,76,11,14.81,few clouds
2,2,Mahebourg,MU,2021-09-24 20:05:08,-20.4081,57.7000,71.26,79,4,15.48,clear sky
3,3,Ushuaia,AR,2021-09-24 20:05:08,-54.8000,-68.3000,42.46,87,75,13.80,heavy intensity drizzle
4,4,Klaksvik,FO,2021-09-24 20:05:09,62.2266,-6.5890,43.72,68,95,11.41,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your desired minimum temperature for your trip? "))
max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired minimum temperature for your trip? 75
What is your desired maximum temperature for your trip? 88

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Atuona,PF,2021-09-24 20:05:10,-9.8000,-139.0333,77.49,78,52,18.14,broken clouds
9,9,Avarua,CK,2021-09-24 20:01:35,-21.2078,-159.7750,75.25,60,99,11.50,overcast clouds
12,12,Dhidhdhoo,MV,2021-09-24 20:05:14,6.8833,73.1000,81.39,79,82,13.09,broken clouds
15,15,Sabha,LY,2021-09-24 20:05:15,27.0377,14.4283,86.25,24,0,9.71,clear sky
26,26,Panlaitan,PH,2021-09-24 20:05:20,12.1191,119.8486,82.13,74,26,2.42,scattered clouds
...,...,...,...,...,...,...,...,...,...,...,...
687,687,Oyama,JP,2021-09-24 20:10:55,36.3000,139.8000,76.59,73,100,7.67,overcast clouds
688,688,Bahia Honda,CU,2021-09-24 20:10:56,22.9036,-83.1592,84.31,70,38,2.95,light rain
691,691,Harper,LR,2021-09-24 20:10:57,4.3750,-7.7169,78.40,86,58,8.19,broken clouds
693,693,Zlitan,LY,2021-09-24 20:10:58,32.4674,14.5687,77.23,69,5,15.61,clear sky
696,696,Najran,SA,2021-09-24 20:10:59,17.4924,44.1277,76.53,20,86,1.03,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                2
Date                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Atuona,PF,2021-09-24 20:05:10,-9.8000,-139.0333,77.49,78,52,18.14,broken clouds
9,9,Avarua,CK,2021-09-24 20:01:35,-21.2078,-159.7750,75.25,60,99,11.50,overcast clouds
12,12,Dhidhdhoo,MV,2021-09-24 20:05:14,6.8833,73.1000,81.39,79,82,13.09,broken clouds
15,15,Sabha,LY,2021-09-24 20:05:15,27.0377,14.4283,86.25,24,0,9.71,clear sky
26,26,Panlaitan,PH,2021-09-24 20:05:20,12.1191,119.8486,82.13,74,26,2.42,scattered clouds
...,...,...,...,...,...,...,...,...,...,...,...
687,687,Oyama,JP,2021-09-24 20:10:55,36.3000,139.8000,76.59,73,100,7.67,overcast clouds
688,688,Bahia Honda,CU,2021-09-24 20:10:56,22.9036,-83.1592,84.31,70,38,2.95,light rain
691,691,Harper,LR,2021-09-24 20:10:57,4.3750,-7.7169,78.40,86,58,8.19,broken clouds
693,693,Zlitan,LY,2021-09-24 20:10:58,32.4674,14.5687,77.23,69,5,15.61,clear sky
696,696,Najran,SA,2021-09-24 20:10:59,17.4924,44.1277,76.53,20,86,1.03,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Atuona,PF,77.49,broken clouds,-9.8000,-139.0333,
9,Avarua,CK,75.25,overcast clouds,-21.2078,-159.7750,
12,Dhidhdhoo,MV,81.39,broken clouds,6.8833,73.1000,
15,Sabha,LY,86.25,clear sky,27.0377,14.4283,
26,Panlaitan,PH,82.13,scattered clouds,12.1191,119.8486,
28,Afua,BR,86.90,overcast clouds,-0.1567,-50.3867,
39,Mao,ES,75.76,broken clouds,39.8885,4.2658,
53,Castro,BR,76.95,overcast clouds,-24.7911,-50.0119,
58,Bandarbeyla,SO,80.26,light rain,9.4942,50.8122,
59,Waingapu,ID,75.15,broken clouds,-9.6567,120.2641,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Cannot find hotel...skipping.")

Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Atuona,PF,77.49,broken clouds,-9.8000,-139.0333,Villa Enata
9,Avarua,CK,75.25,overcast clouds,-21.2078,-159.7750,Paradise Inn
12,Dhidhdhoo,MV,81.39,broken clouds,6.8833,73.1000,Dhidhoo beach
15,Sabha,LY,86.25,clear sky,27.0377,14.4283,Foundation Taaj Asala for Historical Research ...
26,Panlaitan,PH,82.13,scattered clouds,12.1191,119.8486,Panlaitan Cetro Beach

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))